/* Resets */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}


/* General */

html {
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: 'Karla', -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 24px;
  letter-spacing: -1px;
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Components */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  height: calc(100% - 40px);
  padding: 20px;
}


.section-add {
  display: flex;
}

.section-add__input {
  line-height: 24px;
  font-size: 20px;
  border-radius: 3px;
  margin-left: 10px;
  padding: 3px 0 3px 5px;
  transition: 0.30s ease-in-out;
  outline: none;
  border: 1px solid lightgrey;
}

.section-add__input:focus {
  box-shadow: 0 0 5px steelblue;
  border: 1px solid steelblue;
}

.section-add__label-link {
  display: block;
}
@media (min-width: 700px) {
  .section-add__label-link {
    display: inline-block;
    margin-left: 20px;
  }
}

.section-add__submit {
  margin-left: 20px;
  background: none;
}

.section-add__icon-add {
  vertical-align: text-bottom;
}


.list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  flex-flow: column wrap;
  max-height: calc(100% - 40px);
}

.item {
  line-height: 1.5rem;
}

.item__actions {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  position: relative;
  vertical-align: text-bottom;
}

.item__remove,
.item__icon-note,
.item__icon-link {
  position: absolute;
  top: -2px;
}

.item__remove {
  z-index: 1;
  transition: all 0.2s;
  color: gainsboro;
  opacity: 0;
  background: white;
}
.item:hover .item__remove {
  opacity: 1;
}
.item__remove:hover,
.item__remove:focus {
  opacity: 1;
  color: crimson;
}

.item__icon-note,
.item__icon-link {
  color: gray;
}
